
[Unit]
Description=Fotbolin-Slackbot
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/fotbolin
ExecStart=/opt/doorpi/venv/bin/python app.py
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target